<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modulix.admin.mapper.UserMapper">

    <resultMap id="domain-map" type="com.modulix.admin.domain.User" autoMapping="true">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleIds" column="role_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <resultMap id="vo-map" type="com.modulix.admin.vo.UserVO" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>

    <sql id="domain-sql">
        ${table-alias}.id as `${column-prefix}id`,
        ${table-alias}.username as `${column-prefix}username`,
        ${table-alias}.password as `${column-prefix}password`,
        ${table-alias}.nickname as `${column-prefix}nickname`,
        ${table-alias}.dept_id as `${column-prefix}dept_id`,
        ${table-alias}.phone as `${column-prefix}phone`,
        ${table-alias}.gender as `${column-prefix}gender`,
        ${table-alias}.email as `${column-prefix}email`,
        ${table-alias}.enable as `${column-prefix}enable`,
        ${table-alias}.home_role_id as `${column-prefix}home_role_id`,
        ${table-alias}.role_ids as `${column-prefix}role_ids`,
        ${table-alias}.create_time as `${column-prefix}create_time`,
        ${table-alias}.modify_time as `${column-prefix}modify_time`,
        ${table-alias}.creator_id as `${column-prefix}creator_id`,
        ${table-alias}.modifier_id as `${column-prefix}modifier_id`,
        ${table-alias}.deleted as `${column-prefix}deleted`
    </sql>

    <sql id="vo-sql">
        <include refid="com.modulix.admin.mapper.UserMapper.domain-sql"/>
    </sql>


</mapper>

