<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modulix.admin.mapper.UserMapper">


    <select id="listDataScopes" resultType="com.modulix.framework.mybatis.plus.api.enums.DataScope">
        select sr.data_scope
        from sys_user su
        left join sys_role sr on sr.deleted = false and json_contains(su.role_ids, cast(sr.id as char ))
        where su.id = #{userId}
    </select>

    <resultMap id="userinfo-result-map" type="com.modulix.admin.vo.UserInfo">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="superAdmin" column="super_admin" />
        <collection property="roles" column="code" ofType="java.lang.String"/>
    </resultMap>

    <select id="getUserInfo" resultMap="userinfo-result-map">
        select su.id, su.username, sr.code, su.super_admin
        from sys_user su
        left join sys_role sr on sr.deleted = false and json_contains(su.role_ids, json_quote(sr.id))
        where su.deleted = false and su.id = #{userId}
    </select>

    <select id="isRouteExists" resultType="java.lang.Boolean">
        select count(*)
        from sys_user su
        join sys_role sr on sr.deleted = false and json_contains(su.role_ids, json_quote(sr.id))
        join sys_menu sm on sm.deleted = false and json_contains(sr.menu_ids, json_quote(sm.id))
        where su.deleted = false and su.id = #{userId} and sm.route_path = #{path}
    </select>

    <select id="listRoleCode" resultType="java.lang.String">
        select  sr.code
        from sys_user su
        join sys_role sr on sr.deleted = false and json_contains(su.role_ids, json_quote(sr.id))
        where su.deleted = false and su.id = #{userId}
    </select>
</mapper>

